.button
{
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
   
    
}

#start_button
{
    
    width: 49%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
   	display:inline-block; 
   	    outline-offset: 0px !important;
    outline: none !important;
}

#shutdown_button
{
    
    width: 49%;
    background-color: #ff1a1a;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
        outline-offset: 0px !important;
    outline: none !important;
   	display:inline-block; 
}
#start_button:hover {
    background-color: #45a049;
}

#shutdown_button:hover {
    background-color: #e60000;
} 
 
